.add-article__section {
	width: 100%;
	// display: flex;
	// justify-content: space-between;
	margin-top: 30px;
}

.add-article__section:first-child {
	margin-top: 0;
}

.add-article__button-more {
	margin-top: 50px;
  margin-bottom: 25px;
	align-self: flex-start; 
}

