#articleName:focus ~ .login-container__label[for="articleName"],
#articleName:valid ~ .login-container__label[for="articleName"],

#runningHead:focus ~ .login-container__label[for="runningHead"],
#runningHead:valid ~ .login-container__label[for="runningHead"],

#annotation:focus ~ .login-container__label[for="annotation"],
#annotation:valid ~ .login-container__label[for="annotation"],

#file1Description:focus ~ .login-container__label[for="file1Description"],
#file1Description:valid ~ .login-container__label[for="file1Description"],

#keys:focus ~ .login-container__label[for="keys"],
#keys:valid ~ .login-container__label[for="keys"] {
  transform: scale(0.83);
	top: -47px;
}

.add-article {
	width: 700px;
}

.add-article__link {
	// width: 100%;
	// text-align: center;
	// margin: 0 auto;
	display: inline-block;
	width: content;
	margin-top: 0;
	margin-bottom: 10px;
	color: black;
	font-size: 18px;
	text-decoration: none;
}

.add-article__link:hover {
	text-decoration: underline;
}

.add-article__section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	// align-items: center;
}

.add-article form {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
}


#file1 {
	// height: 40px;
}
