#articleName:focus ~ .login-container__label[for="articleName"],
#articleName:valid ~ .login-container__label[for="articleName"],

#runningHead:focus ~ .login-container__label[for="runningHead"],
#runningHead:valid ~ .login-container__label[for="runningHead"],

#annotation:focus ~ .login-container__label[for="annotation"],
#annotation:valid ~ .login-container__label[for="annotation"],

#keys:focus ~ .login-container__label[for="keys"],
#keys:valid ~ .login-container__label[for="keys"] {
  transform: scale(0.83);
	top: -47px;
}

.add-article__button-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.add-article__link {
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 0;
	margin-bottom: 23px;
	color: black;
	font-size: 18px;
	text-decoration: none;
}

.add-article__link:hover {
	text-decoration: underline;
}