.articles-container__main-title {
  font-weight: normal;
  margin: 0;
  margin-bottom: -15px;
  font-size: 24px;
}

.articles-container__title {
	font-weight: normal;
	font-size: 23px;
//	margin-top: 0;
  margin-bottom: 18px;
}

.articles-container__list {
  margin: 0;
}

.articles-container__button--succes {
	background-color: @main-color;
	color: white;
}

.articles-container__link {
	// display: block;
}

.articles-container__table {
	display: flex;
	flex-direction: row;
}

.articles-container__tr {
	display: flex;
	flex-direction: column;
}

.articles-container__status {
	display: inline-block;
	margin-right: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

.articles-container__status--new-line {
	display: block;
	margin-top: 10px;
}

.articles-container__link {
}

.articles-container__text-button, .articles-container__button-edit-status {
	// margin: 0 auto;
	margin-top: 12px;
	align-self: center;
}

.articles-container__text-button {
	// margin: 0 auto;
	// width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
	margin-top: 25px;
}

.articles-container__button {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 0;

}

.articles-container__item {
	padding: 30px 0;
	border-bottom: 1px solid @gray;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.articles-container__item:last-child {
	border-bottom: 0;
}

.articles-container__no-articles {
	color: @text-gray;
	display: block;
	text-align: center;
	margin-top: 25px;
}
