.articles-container__title {
	font-weight: normal;
	font-size: 20px;
}

.articles-container__link {
	// display: block;
}

.articles-container__table {
	display: flex;
	flex-direction: row;
}

.articles-container__tr {
	display: flex;
	flex-direction: column;
}

.articles-container__status {
	display: inline-block;
	margin-right: 30px;
	margin-top: 0;
}

.articles-container__link {
}

.articles-container__button, .articles-container__button-edit-status {
	margin: 0 auto;
	margin-top: 10px;
}

.articles-container__button-edit-status {
	background-color: @main-color;
	color: white;
}

.articles-container__button-edit-status:hover {
	background-color: #7f2620	
}

.articles-container__item {
	margin-bottom: 50px;
}