.button-more {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.button-more__button {
	font-size: 46px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background-color: @main-color;
	color: white;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 13px;
	user-select: none;
}

.button-more:hover .button-more__button {
	background-color: @main-color--light;
}

.button-more:hover .button-more__description {
  text-decoration: underline;
}
