.header {
  display: flex;
  justify-content: space-between;
  padding: 17px 20px;
  border-bottom: 1px solid #e8e8e8;
	border-top: none;
	background-color: white;
	box-shadow: 0 5px 5px -8px #34495e;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user-login {
  margin-left: 25px;
}

.header__button, .header__find {
	margin-left: 20px; 
}

@media (max-width: 965px) {
  .header__find {
    display: none;
  }
}
