.input-file {
	width: 100%;
	margin-top: 30px;
}

.input-file__description {
  display: flex;
  align-items: center;
}

.input-file__button-close {
  margin-top: 2px;
  margin-left: 20px;
}

.input-file__input {
  position: absolute;
  z-index: -2;
  opacity: 0;
}

.input-file__input:focus ~ .input-file__button {
  background-color: @main-color--light;
}

@media (max-width: @mobile-width) {
	.input-file {
		flex-direction: column;
	}
}
