.input-container {
	margin-top: 25px;
	width: 100%;
}

.input-container__input {
	width: 100%;
	border: none;
	border-bottom: 1px solid @gray;
	font-size: @button-font-size;
}

.input-container:first-child {
	margin-top: 0;
}

.input-container__input:focus {
	outline: none;
	border-bottom: 1px solid @main-color;
}

.input-container__label {
	text-transform: capitalize;
//	top: -27px;
	top: -1.5em;
}

.input-container__label--active {
//	top: -47px;
	top: -2.61em;
}
