.input-container {
	margin-top: 25px;
	width: 100%;
}

.input-container__input {
	width: 100%;
	border: none;
	border-bottom: 1px solid @gray;
	font-size: @button-font-size;
}

.input-container:first-child {
	margin-top: 0;
}

.input-container__input:focus {
	outline: none;
	border-bottom: 1px solid @main-color;
}

.input-container__label {
	display: inline-block;
	color: @text-gray;
	text-transform: capitalize;
	position: relative;
	top: -27px;
	font-size: @button-font-size;
	will-change: transform;
	transition: 0.25s ease all;
	transform-origin: left;
	align-self: start;
}

.input-container__label--active {
	transform: scale(0.83);
	top: -47px;
	// transform: translateY(-47px);
}

//  #login:focus ~ .input-container__label[for="login"],
//  #passwordLog:focus ~ .input-container__label[for="passwordLog"],
//  #login:valid ~ .input-container__label[for="login"],
//  #passwordLog:valid ~ .input-container__label[for="passwordLog"]{
// 	transform: scale(0.83);
// 	top: -47px;
//  }
