.latest {
  max-width: 814px; // изменить!!!
}

.latest__link {
  cursor: pointer;
}

.latest__item {
  margin-bottom: 35px;
}

@media (min-width: 1600px) {
  .latest {
    width: 994px;
  }
}

.latest__list {
  list-style: none;
  padding: 0;
}

.latest__date {
  display: block;
}

.latest__link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 6px 0;
  line-height: 1.4em;
}

.latest__link:hover {
  text-decoration: underline;
}

.latest__description {
  margin: 0;
  font-size: 17px;
}

.latest__description--words {
//    text-transform: lowercase;
    margin-left: 0.25em;
  font-size: 0.9em;
}

//.latest__item {
//  margin-bottom: 35px;
//}