.text-area {
	width: 100%;
	resize: vertical;
	font-size: @button-font-size;
//	color: @text-gray;
	border-color: @gray;
	height: 70px;
	margin-bottom: 15px;
}

.text-area::-webkit-input-placeholder {
	color: @text-gray;
}
