.user-login {
	font-size: 18px;
	text-decoration: none;
	color: @main-color;
  display: flex;
  align-items: center;
//   display: none;
}

.user-login__img {
	height: 45px;
}

.user-login__name {
	margin-left: 20px;
	margin-right: 10px;
}
